body {
    font-family: Arial;
}

.sidebar {
    height: 100vh;
    width: 220px;
    position: fixed;
    background: #0d6efd;
    padding-top: 20px;
}

.sidebar a {
    padding: 12px;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a:hover {
    background: rgba(255,255,255,0.2);
}

.content {
    margin-left: 240px;
    padding: 20px;
}
